<div id="router-wrapper">
  <h1>Nouvelles quêtes : </h1>
  <ul>
    <li *ngFor="let quest of quests; let i = index">
      <h3>{{ quest.name }}</h3>
      <p>{{ quest.description }}</p>
      <p>Rang {{ quest.rank }}</p>
      <p>Durée : {{ quest.duration }} jour</p>
      <button (click)="addQuest(quest, i)">Accepter la quête</button>
    </li>
  </ul>

  <h1>Nouveaux aventuriers : </h1>
  <ul>
    <li *ngFor="let adv of adventurers; let i = index">
      <h3>{{ adv.name }}</h3>
      <p>Rang {{ adv.rank }}</p>
      <button (click)="addAvailableAdventurer(adv, i)">Engager</button>
    </li>
  </ul>
</div>